*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main>.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main>.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.main>.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}


#canvas{
    width: min(calc(100vw - 2*(100vw/20)), calc(100vh/22*40 - 3*(100vw/20)));
    height: min(calc(100vh - 3*(100vw/20)), calc(100vw*22/40 - 2*(100vw/20)));
    aspect-ratio: 40 / 22;
    background-color: #ddd;
}

#caixa-ferramentas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn-ferramenta{
    border-style: none;
    border: 1px solid #aaa;
    background-color: #ddd;
    margin: 5px;
    width: calc(100vw/20 - 10px);
    height: calc(100vw/20 - 10px);
    cursor: pointer;
}

.btn-ferramenta>canvas{
    width: 100%;
    height: 100%;
}

#caixa-ferramentas>.pull-right{
    margin-left: auto;
}

.btn-ferramenta.icone{
    font-size: 18pt;
}